.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  &__side {
    width: 50%;
  }
}

.user {
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.cars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

.car {
  border: 1px solid rgb(48, 75, 254);
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.selected {
  border: 2px solid rgb(254, 48, 233);
}