<h1>RxJS refactoring demo app</h1>
<div class="side-by-side" (click)="unselectAll()">
  <div class="side-by-side__side">
    <app-user [clients]="clients$ | async" [unselect$]="unselectAll$$" (onAddUser)="addUser($event)"
      (onEditUser)="editUser($event)" (onRemoveUser)="removeUser($event)"
      (onRemoveCarFromUser)="removeCarFromUser($event)" (onSelectUser)="selectUser($event)"></app-user>
  </div>
  <div class="side-by-side__side">
    <app-car [cars]="freeCars$ | async" [unselect$]="unselectAll$$" (onCarSubmit)="addCar($event)"
      (onCarRemove)="carRemove($event)" (onSelectCar)="selectCar($event)"></app-car>
  </div>
</div>