.user {
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.car {
    border: 1px solid rgb(48, 75, 254);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.selected {
    border: 2px solid rgb(254, 48, 233);
}